 
/*
Orange 	#FF7C19 
Red 	#C60000
Blue 	#00AEEF
Green 	#5DA700
Black	#222222
		#727272
		#A7A7A7
		#DEDEDE
		#F8F8F8
*/


ul, li{
	list-style: none;
	margin: 0;
	padding: 0;
}



nav{
	background: #F8F8F8;
	height: 3.5rem;
}

nav .logo{
	height: 3.5rem;
	width: 5rem;
	line-height: 3.5rem;
	display: block;
	margin: 0 .5rem 0 0;
	float: left;
	text-align: center;
}



nav .menubutton{
	font-size: 14px;
	font-weight: 600;
	line-height: 3.5rem;
	padding:0 1.5rem 0 0.5rem;
	margin: 0 0.5rem;
	float: left;
	background: url(../assets/arrow_drop_down.svg) no-repeat right center;
}




.navigation{
	padding:0;

}


/* !menu */


.menu{
	padding: 0.5rem  0 1rem 0;
	background: #fff;
	box-shadow: 0 .6rem 1.25rem rgba(0,0,0,.25);
}

.menu{
	opacity: 0;
    transition: all 150ms cubic-bezier(0.455, 0.03, 0.515, 0.955); 
    display: none;
 }

.menu:hover,
.menubutton:hover ~  .menu{
	opacity:1;
	display: block;
}

.menu li{
	padding: .3rem 1rem;
	display: block;
}



.menu .level1 > li:hover:after,
.menu .level2 > li:hover:after{
 	content: "";
    display: block;
/*  	background:rgba(255, 0, 0, 0.2);  */
    height: 40rem;
    width: 40rem;
    position: absolute;
    transform: rotate(-60deg);
    transform-origin: top left;
    left:4rem;
}

.menu li a{
	color:#727272; 
	font-size: 14px;
	text-decoration: none;
}
.menu li a:hover{
	color:#00AEEF; 
	text-decoration: none;
	cursor: pointer;
}

/* !level1 */
.menu .level1{
	padding: 1rem 0;
	border-right:1px solid #DEDEDE;
	z-index: 0;
}

.menu ul li:first-child, .menu ul li:first-child a{
   column-span: all;
   font-weight: 600;
   line-height: 1rem;
   margin-bottom: .5rem;
   color:#222;
}

/* !level2 */
.menu .level2{
	display: none;	
	padding: 1rem 0;
	border-right:1px solid #DEDEDE;
	position: absolute;
	top:0;
	left:100%;
	height: 100%;
	z-index: 2;
}

	
/* !level3 */
.menu .level3{
	display: none;
	column-count: 2;	
	padding: 1rem 0;
	position: absolute;
	top:0;
	left:100%;
	height: 100%;
	width: 200%;
	z-index: 3;
}


.menu .level1 li:hover > .level2{
	display: block;
}	

.menu .level1 li:hover > a{
	color:#00AEEF; 
}	

.menu .level2 li:hover > .level3{
	display: block;
}	


